# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Client/node_modules
/Client/.pnp
/Client/.pnp.js
/Server/node_modules

# testing
/Client/coverage

# production
/Client/build

# misc
/Client/.DS_Store
/Client/.env.local
/Client/.env.development.local
/Client/.env.test.local
/Client/.env.production.local

/Client/npm-debug.log*
/Client/yarn-debug.log*
/Client/yarn-error.log*
