#InOut-body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
#InOut-body #table{

    width: 70%;
    height: 100vh;
    
    margin: 0;
    padding: 0;
    float:left
}
#InOut-body #right-box{
    
    float:right;
    width: 30%;
    height: 100vh;
    background-color:#47c9af;
    opacity: 100%;
    
    
}
#right-box #input-search{
    width: 240px;
    margin-top: 100px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#right-box #form-box{
    max-width: 240px;
    margin-top: 50px;
    background-color: #ffffff;
    border: 2px solid #ff1803;
    padding-bottom: -10px;
    
    border-radius: 5px;
    padding: 5px;
}
#right-box h1{
    margin:20px 0 10px ;
    
    font-weight: 800;
}
#InOut-body .example_e {
    width: 270px;
    margin: 5px;
    border: none;
    background: #ff1803;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-top: 50px;
    }
    #InOut-body .example_e:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
        }
        #InOut-body .content-table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    min-width: 100%;
    
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  #InOut-body .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  #InOut-body.content-table th,
  #InOut-body .content-table td {
    padding: 12px 15px;
  }
  
  #InOut-body.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  #InOut-body.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  #InOut-body.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  #InOut-body.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  #right-box input[type="text"],
  #right-box input[type="tel"],
  #right-box input[type="number"],
  #right-box input[type="password"]
  {
    display:block;
    box-sizing:border-box;
    border:none;
    margin-bottom: 20px;
    padding: 4px;
    width: 250px;
    height: 32px;
    border-bottom : 1px solid rgb(0, 118, 148);
    font-weight: 400;
    font-size:15px;
    transition: 0.2s ease;
    background-color: rgb(255, 255, 255);
  }