#login-body{
  background-image: url("./bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1080px;
  min-width: 1900px;
  margin:-20px;
  padding-top: 150px;
  
}
.loginmom #hland{
    margin-top: 200px;
font-size: 48px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: azure;
-webkit-text-stroke: 1px darkgrey;
-webkit-text-fill-color: azure;
}

.loginmom #pland{
    
    font-size: 24px;
    color: azure;
    position: relative;
    right: 670px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.loginmom #btnland{
    margin-top: 200px;
    border-radius: 10px;
    background-color: rgb(36, 195, 134);
    
    height: 40px;
    width: 200px;
    font-size: 25px;
    position: relative;
    left: 850px;
    font-weight: 600;
    color: whitesmoke;
}
.loginmom{
  height: 1080x;
  width: 1920px;
  
    margin-left: -20px;
    padding: 0;
    
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
background-size: cover;
}

.loginmom #box{
    height: 600px;
    width: 600px;
    margin:auto;
    
    background-color: white;
    position:relative;
    box-sizing: border-box;
    border:1px solid rgb(0, 118, 148);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 4px 8px rgb(0, 118, 148);
    border-radius: 10px;
    
}

.loginmom #signup{
    position: absolute;
    top :0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 600px;
    
    
}
.loginmom #login{
    position: absolute;
    top :0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 600px;
    border-left: 1px solid rgb(0, 118, 148);
    
}
.loginmom .bodylogin{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #d65e5e;

    }
.loginmom p{
    font-size: 14px;
    float: right;
    margin-top:0;

}
.loginmom h1{
    text-align: center;
    margin-top: 30px;
}
.loginmom #or{
    position: absolute;
    width: 40px;
    height: 40px;
    left:280px;
    top:280px;
    background: white;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: rgb(0, 118, 148);
    
}
.loginmom input[type="text"],
.loginmom input[type="password"]


{
    display:block;
    box-sizing:border-box;
    border:none;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border-bottom : 1px solid rgb(0, 118, 148);
    font-weight: 400;
    font-size:15px;
    transition: 0.2s ease;
}
.loginmom #signup-btn
{
  margin-top: 25px;
}
.loginmom #signup-btn,.loginmom #login-btn,.loginmom #forgotpass-btn
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: rgb(0, 118, 148);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2 ease;
    cursor: pointer;
    color: azure;
    
}
.loginmom button[type="submit"]:hover,.loginmom button[type="submit"]:focus
{
    background: #d65e5e;
    transition: 0.2s ease;
}
