#hland{
    margin-top: 200px;
font-size: 48px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: azure;
-webkit-text-stroke: 1px darkgrey;
-webkit-text-fill-color: azure;


}

#pland{
    
    font-size: 24px;
    color: azure;
    position: relative;
    right: 670px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#btnland{
    margin-top: 200px;
    border-radius: 10px;
    background-color: rgb(36, 195, 134);
    
    height: 40px;
    width: 200px;
    font-size: 25px;
    position: relative;
    left: 850px;
    font-weight: 600;
    color: whitesmoke;
}
#box{
    height: 600px;
    width: 600px;
    margin:auto;
    margin-top: 150px;
    background-color: white;
    position:relative;
    box-sizing: border-box;
    border:1px solid rgb(0, 118, 148);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 4px 8px rgb(0, 118, 148);
    border-radius: 10px;
    
}

#signup{
    position: absolute;
    top :0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 600px;
    
    
}
#login{
    position: absolute;
    top :0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 600px;
    border-left: 1px solid rgb(0, 118, 148);
    
}
body{
    justify-content: center;
    
    margin: 0;
    padding: 0;
    background-image:url(../bg2.jpg) ;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
background-size: cover;
}
p{
    font-size: 14px;
    float: right;
    margin-top:0;

}
h1{
    text-align: center;
    margin-top: 30px;
}
#or{
    position: absolute;
    width: 40px;
    height: 40px;
    left:280px;
    top:280px;
    background: white;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: rgb(0, 118, 148);
    
}
input[type="text"],
input[type="password"]
{
    display:block;
    box-sizing:border-box;
    border:none;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border-bottom : 1px solid rgb(0, 118, 148);
    font-weight: 400;
    font-size:15px;
    transition: 0.2s ease;
}
input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: rgb(0, 118, 148);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2 ease;
    cursor: pointer;
    color: azure;
}
input[type="submit"]:hover,input[type="submit"]:focus
{
    background: #d65e5e;
    transition: 0.2s ease;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }